html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  margin: 0%;
}

header {
  width: 1300px;
  margin: 0 auto;
  height: 6.4rem;
  color: white;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

header .search-box {
  align-items: center;
}
header img{
  margin: 25px 0 25px 0;
  padding-left: 2.5rem;
}

header nav {
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
}

header nav ,
header .search-box {
  width: calc(50% - 35px)
}

header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul li{
  padding-left: 4rem;
}

header .icone.lupa {
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  margin: -13px 35px 0 0;
}

header .icone.lupa:after {
  position: relative;
  width: 12px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  display: block;
  content: "";
  top: 40%;
  left: 20%;
  transform: rotate(45deg);
  transform-origin: 0px 15px;
}
header button{
  border-radius: 50px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(134, 134, 134);
  width: 12rem;
  height: 2rem;
  background: transparent;
  margin-top: -5.5px;
}
header + hr {
  margin: 0;
}

main {
  width: 100%;
}
.main-info {
  margin-top: -6.6rem;
  padding: 27.8rem 0 20rem 15.2rem;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('tlo.png');
  background-size: 100%;
  font-size: 230%;
  background-repeat: no-repeat;
  height: 365px;
  color: white;
}

.main-info h1 strong {
  display: block;
  font-size: 300%;
}
.main-info .watch {
  text-transform: uppercase;
  color: rgb(91, 91, 167);
  font-size: 14px;
  margin-top: -20px;
}
.main-info .watch strong{
  font-size: 23px;
}
.main-info .fa{
  font-size: 60px;
  margin: -7px 20px 0 20px;
}
.main-info button{
  border-radius: 50px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(134, 134, 134);
  width: 10rem;
  height: 2rem;
  background: transparent;
  text-transform: uppercase;
}
.main-info .place{
  margin: -25px 0 0 40px;

}

.main-info p {
  margin: 0;
}

.flex-container {
  display: flex;
}

main h1{
  font-size: 200%;
  color: #31475e;
}

main h2{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 7% 25% 1% 25%;
  font-size: 200%; 
  color: #31475e;
}
main nav{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding-bottom: 5px;
  padding-top: 25px;
  width: 179px;
  height: 35px;
  margin: 6% 44% 6% 44%;
  box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 05);
  color: #31475e;
}
main hr{
  margin: 0 46.5% 1% 46.5%;
}
main p{
  margin: 0 30% 0 30%;
  text-align: center;
}

.experiences {
  width: 1000px;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.experiences ul {
  list-style-type: none;
}

.experiences ul li {
  width: 33%;
  border: 1px solid #f4f4f4;
}

article h1{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 200%; 
  margin-top: 4%;
  margin-bottom: 13px;
  color: #31475e;
}
article table{
  
  width: 60%; margin: 0 auto; text-align: left;
  text-align: left;
  border-collapse: collapse;
  border: rgb(255, 255, 255);
  color: #31475e;
  box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 05);
}
article hr{
  margin-left: 46.5%;
  margin-right: 46.5%;
  margin-bottom: 13px;
  color: #9012fe;
  background-color: #9012fe;
}
article table, th{
  padding-left: 10px;
  padding-right: 10px;
}
article table, td{
  padding-left: 25px;
}
article nav{
  display: flex;
  justify-content: center;
  margin-bottom: 12%;
  margin-top: 3%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 8%;
  margin-left: 46%;
  box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 05);
  color: #31475e;
}
